.messages-wrapper
  width: 100%
  height: 93vh
  box-sizing: border-box
  display: flex

.conversations-section
  border-right: 1px solid #CCC
  width: 30%
  height: 100%

.chat-section
  width: 70%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.chat-title-bar
  padding: 1vw
  text-align: center

.chat-messages-container
  height: 100%
  padding: 1vw
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.3)

.chat-send-message-bar
  background-color: blue
