.form-container
  width: 20vw
  padding: 2vw
  margin: 10vh auto
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)

.form-fields-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  @media (max-width: $content-md)
    flex-direction: column
  .allowed-title
    font-size: 1.5em
    font-variant-caps: all-small-caps
    font-weight: bold
    color: $color-secondary
  .register-tech-allowed-container
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 3vh
    .allow-item
      padding: 1vw
      border-radius: 1vw
      font-variant-caps: all-small-caps
      font-weight: bold
      font-size: 1.1em
    .allowed
      border: 2px solid $color-secondary
      background-color: $color-secondary
      color: #FAFAFA
    .declined
      border: 2px solid $color-primary
      opacity: 0.2
  textarea
    width: 100%
    padding: 1vw
    border: 0
    border-bottom: 1px solid #CCCCCC
    margin-bottom: 1vh

.form-fields-container input
  margin: 1vh 0
  width: 45%
  border: 0
  padding: 0.5vw
  box-sizing: border-box
  border-bottom: 1px solid #CCC
  @media (max-width: $content-md)
    width: 100%
    margin: 5vh 0
