.product-list-thumbnail-link
  width: 24%
  color: #212121
  text-decoration: none

.product-list-thumbnail
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3)
  height: 60vh
  display: flex
  flex-direction: column
  justify-content: space-between

.product-list-thumbnail-image
  width: 100%
  max-height: 40vh

.product-list-thumbnail-content
  line-height: 140%
  padding: 0 1vw 1vw 1vw
  box-sizing: border-box

.product-list-thumbnail-price
  text-align: right
  margin: 0
