@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.nav {
  background-color: #FAFAFA;
  width: 100%;
  margin: 0 auto;
  padding: 2vh 0;
}
@media (max-width: 1450px) {
  .nav {
    padding: 1vh 3vw;
    box-sizing: border-box;
  }
}

.nav-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .nav-inner {
    display: none;
  }
}

.logo {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/bachelorproef-b2b80.appspot.com/o/Logo.png?alt=media&token=d592f539-1b7b-420c-b494-0d0c7d601120");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  width: 100%;
  height: 110%;
}

.logo-link {
  width: 10%;
  height: 5vh;
}

.links {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .links {
    width: 70%;
  }
}
@media (max-width: 950px) {
  .links {
    width: 80%;
  }
}

.links a {
  text-decoration: none;
  color: black;
}

.mobile-nav {
  width: 100%;
  height: 6.5vh;
}
@media (min-width: 850px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 6.5vh;
  padding: 0 3vh;
  box-sizing: border-box;
}

.mobile-logo {
  width: 25%;
  height: 5vh;
  background-size: contain;
}

.menu-logo {
  width: 70%;
  margin-top: 4vh;
  height: 20vh;
}

.mobile-nav-menu-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 0;
  top: 0;
}

.mobile-nav-menu {
  width: 50%;
  height: 100%;
  background-color: #FAFAFA;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.mobile-links {
  width: 100%;
  height: 30%;
  padding-left: 15%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}

.mobile-nav-closer {
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.mobile-nav-bar-button {
  font-size: 1.3em;
  padding-bottom: 1vh;
}

.form-container {
  width: 20vw;
  padding: 2vw;
  margin: 10vh auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-fields-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .form-fields-container {
    flex-direction: column;
  }
}
.form-fields-container .allowed-title {
  font-size: 1.5em;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  color: #398FB5;
}
.form-fields-container .register-tech-allowed-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.form-fields-container .register-tech-allowed-container .allow-item {
  padding: 1vw;
  border-radius: 1vw;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 1.1em;
}
.form-fields-container .register-tech-allowed-container .allowed {
  border: 2px solid #398FB5;
  background-color: #398FB5;
  color: #FAFAFA;
}
.form-fields-container .register-tech-allowed-container .declined {
  border: 2px solid #FC6767;
  opacity: 0.2;
}
.form-fields-container textarea {
  width: 100%;
  padding: 1vw;
  border: 0;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 1vh;
}

.form-fields-container input {
  margin: 1vh 0;
  width: 45%;
  border: 0;
  padding: 0.5vw;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
}
@media (max-width: 800px) {
  .form-fields-container input {
    width: 100%;
    margin: 5vh 0;
  }
}

.conversation-thumb-button {
  background-color: transparent;
  width: 100%;
  padding: 1vw;
  border: 0;
  border-bottom: 1px solid #CCC;
}

.conversation-thumb-container {
  text-align: left;
}

.product-list-thumbnail-link {
  width: 24%;
  color: #212121;
  text-decoration: none;
  margin-bottom: 4vh;
}
@media (max-width: 1450px) {
  .product-list-thumbnail-link {
    width: 32%;
  }
}
@media (max-width: 1000px) {
  .product-list-thumbnail-link {
    width: 49%;
  }
}
@media (max-width: 600px) {
  .product-list-thumbnail-link {
    width: 100%;
  }
}

.product-list-thumbnail {
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.1);
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vh 2vh 2vh 2vh;
}
@media (max-width: 600px) {
  .product-list-thumbnail {
    height: unset;
  }
}

.product-list-thumbnail-image {
  width: 100%;
  max-height: 40vh;
}

.product-list-thumbnail-content {
  line-height: 140%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.product-list-thumbnail-price {
  text-align: right;
  margin: 0;
  color: #398FB5;
  font-weight: bold;
}

.product-list-thumbnail-title {
  color: #FC6767;
  text-align: left;
  font-weight: 500;
  font-size: 1.6em;
  font-variant-caps: all-small-caps;
}

.product-list-wrapper h1 {
  color: #FC6767;
  font-size: 2em;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  box-sizing: border-box;
}

.product-list-actual {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vw 0;
  box-sizing: border-box;
}

.product-list-filter-container {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 500px) {
  .product-list-filter-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.product-list-filter-container input[type=text] {
  padding: 0.2vw 1vw 0.2vw 0.1vw;
  border: 0;
  border-bottom: 1px solid #CCC;
  margin-right: 2vw;
}
@media (max-width: 500px) {
  .product-list-filter-container input[type=text] {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 1vh 0;
    padding: 1vh 0 0.8vh 0.8vh;
  }
}
.product-list-filter-container button {
  padding: 0.2vw 1vw;
  border: 0;
  margin: 0 1vw 0 0.5vw;
}
.product-list-filter-container select {
  padding: 0.2vw 1.5vw 0.2vw 0;
  border: 0;
  border-bottom: 1px solid #CCC;
  margin-right: 2vw;
}
@media (max-width: 500px) {
  .product-list-filter-container select {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 1vh 0;
    padding: 1vh 0 0.8vh 0.5vh;
  }
}

.product-detail-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .product-detail-wrapper {
    flex-direction: column-reverse;
  }
}

.product-detail-main-container {
  width: 60%;
  padding: 2vw 0;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .product-detail-main-container {
    width: 100%;
  }
}
.product-detail-main-container .product-detail-desc {
  text-align: justify;
  line-height: 150%;
}

.product-detail-sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
@media (max-width: 1000px) {
  .product-detail-sidebar {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .product-detail-sidebar {
    flex-direction: column;
  }
}
.product-detail-sidebar .sidebar-order-info {
  padding: 2vw;
  box-sizing: border-box;
  margin-top: 5vh;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1000px) {
  .product-detail-sidebar .sidebar-order-info {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .product-detail-sidebar .sidebar-order-info {
    width: 100%;
  }
}
.product-detail-sidebar .sidebar-order-info button {
  padding: 1vh 2vh 1.2vh 2vh;
  border: 0;
  color: #FAFAFA;
  background-color: #398FB5;
  font-weight: bold;
  font-variant-caps: all-small-caps;
}
.product-detail-sidebar .sidebar-order-info h2 {
  font-size: 2em;
  font-variant-caps: all-small-caps;
  color: #FC6767;
  font-weight: bold;
  margin-top: 0;
}
.product-detail-sidebar .sidebar-order-info h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5vh;
}
.product-detail-sidebar .sidebar-order-info h3 span {
  font-size: 1em;
  font-weight: normal;
  font-size: 0.5em;
}
.product-detail-sidebar .sidebar-order-info ul li {
  line-height: 150%;
}
.product-detail-sidebar .specs {
  padding: 2vw;
}
@media (max-width: 1000px) {
  .product-detail-sidebar .specs {
    margin-top: 3vh;
    width: 40%;
  }
}
@media (max-width: 600px) {
  .product-detail-sidebar .specs {
    width: 100%;
  }
}
.product-detail-sidebar .specs h4 {
  font-weight: bold;
  font-variant-caps: all-small-caps;
  font-size: 1.2em;
  color: #398FB5;
}
.product-detail-sidebar .specs .specs-value-container {
  display: flex;
  flex-direction: column;
}
.product-detail-sidebar .specs .spec-row {
  display: flex;
  margin-bottom: 1vh;
  justify-content: space-between;
}
.product-detail-sidebar .specs .spec-row div:first-child {
  font-weight: bold;
  width: 45%;
  font-variant-caps: all-small-caps;
  background-color: #398FB5;
  color: #FAFAFA;
  border-radius: 1vw;
}
.product-detail-sidebar .specs .spec-row div {
  width: 45%;
  padding: 0.5vh 0 0.6vh 1vw;
}
@media (max-width: 600px) {
  .product-detail-sidebar .specs .spec-row div {
    width: 40%;
  }
}

.product-detail-sidebar ul {
  padding: 0;
}

.product-detail-sidebar ul li {
  list-style: none;
}

.product-detail-main-container h2 {
  font-size: 2.5em;
  color: #FC6767;
  font-variant-caps: all-small-caps;
  margin: 0;
}

.product-detail-main-container h4 {
  margin-top: 0;
  font-variant-caps: all-small-caps;
  font-size: 1.2em;
  font-weight: bold;
  color: #398FB5;
}

.product-detail-main-container img {
  width: 100%;
}

.messages-wrapper {
  width: 100%;
  height: 93vh;
  box-sizing: border-box;
  display: flex;
}

.conversations-section {
  border-right: 1px solid #CCC;
  width: 30%;
  height: 100%;
}

.chat-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-title-bar {
  padding: 1vw;
  text-align: center;
}

.chat-messages-container {
  height: 100%;
  padding: 1vw;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
}

.chat-send-message-bar {
  display: flex;
  justify-content: space-between;
}
.chat-send-message-bar textarea {
  width: 100%;
  border: 0;
  padding: 2vw 1vw;
}

.messages-send-button {
  width: 10%;
  border-radius: 0;
  border: 0;
}

.ck-editor {
  width: 100% !important;
}

.active-chat-message {
  padding: 1vw;
  display: flex;
}
.active-chat-message p {
  padding: 1vw 2vw;
}

.acm-me {
  justify-content: flex-end;
}

.acm-other {
  justify-content: flex-start;
}

.acm-me p {
  background-color: #FC6767;
  border-radius: 1vh;
  color: #FAFAFA;
}

.acm-other p {
  background-color: #EEE;
  border-radius: 1vh;
}

.auth-wrapper {
  width: 100% !important;
  max-width: 600px !important;
  margin-top: 5vh !important;
  padding: 3vw;
  box-sizing: border-box;
}

.auth-dfdc {
  display: flex;
  flex-direction: column;
}

.auth-dfdc input, .auth-dfdc button {
  padding: 1vw;
  margin: 1vh 0;
}

.auth-dfdc h2 {
  color: #FC6767;
  font-size: 3em;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-variant-caps: all-small-caps;
}

.auth-dfdc button {
  border: none;
  background-color: #398FB5;
  color: #FAFAFA;
}

.login-qr-text-container {
  display: flex;
  margin-top: 10vh;
}
@media (max-width: 400px) {
  .login-qr-text-container {
    flex-direction: column;
  }
}

.login-qr-text {
  padding: 1vw;
  box-sizing: border-box;
}

.user-role-select {
  width: 45%;
  height: 6vh;
  align-self: flex-end;
  margin-bottom: 1vh;
  border: 0;
  border-bottom: 1px solid #CCC;
}
@media (max-width: 800px) {
  .user-role-select {
    width: 100%;
  }
}

.cart-product-list {
  width: 100%;
  padding: 2vw 0;
}

.cart-product-thumbnail {
  padding: 2vh 0 2vh 0.5vw;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.cart-product-thumbnail .cart-item-text {
  display: flex;
  align-items: center;
}
.cart-product-thumbnail .product-image-container {
  width: 10%;
}
.cart-product-thumbnail .product-image-container img {
  height: 10vh;
}
.cart-product-thumbnail .product-image-container .product-value {
  vertical-align: center;
}

.cart-total-row {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #AAA;
}
.cart-total-row .cart-total-price {
  font-weight: bold;
  padding: 2vh 0;
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
}
.cart-wrapper .product-list-container, .cart-wrapper .address-details {
  width: 45%;
}
.cart-wrapper h1 {
  color: #FC6767;
  font-variant-caps: all-small-caps;
  font-size: 2em;
  font-weight: bold;
}
.cart-wrapper .address-details {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.cart-wrapper .address-details p {
  text-align: justify;
  line-height: 150%;
  margin-top: 0;
}
.cart-wrapper .address-details h2 {
  font-variant-caps: all-small-caps;
  color: #398FB5;
  font-weight: bold;
  font-size: 1.3em;
  margin: 2vh 0 0 0;
}
.cart-wrapper .address-details h3 {
  margin: 1vh 0;
}
.cart-wrapper .address-details .address-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}
.cart-wrapper .address-details .address-fields input {
  padding: 0.5vw 1vw;
  margin: 1vh 1vw 1vh 0;
  border: 0;
  border-bottom: 1px solid #AAAAAA;
}

.fa-delete {
  cursor: pointer;
}

.wizard-container {
  padding-top: 10vh;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .wizard-container {
    flex-direction: column;
    padding: 2vw;
  }
}
.wizard-container h1 {
  font-size: 2.5em;
}
.wizard-container .wizard-info-section {
  width: 60%;
}
.wizard-container .wizard-info-section h2 {
  font-size: 2em;
  color: #FC6767;
  font-variant: all-small-caps;
  font-weight: bold;
}
.wizard-container .wizard-info-section h3 {
  font-size: 1.5em;
  color: #398FB5;
  font-variant: all-small-caps;
  font-weight: bold;
}
.wizard-container .wizard-info-section p {
  line-height: 150%;
  text-align: justify;
}
.wizard-container .wizard-info-section p span {
  color: #FC6767;
  font-variant-caps: all-small-caps;
  font-size: 1.35em;
  font-weight: bold;
}
.wizard-container .wizard-info-section ul {
  padding-left: 5vw;
}
.wizard-container .wizard-info-section ul li {
  padding-left: 2vw;
  margin: 1vh 0;
}
.wizard-container .wizard-info-section .ul-flex-container {
  display: flex;
  justify-content: space-between;
}
.wizard-container .wizard-info-section .ul-flex-container ul {
  padding: 0 1.5vw;
}
.wizard-container .wizard-info-section .ul-flex-container ul h4 {
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 2vw;
  color: #FC6767;
}
@media (max-width: 1000px) {
  .wizard-container .wizard-info-section {
    width: 100%;
  }
}
.wizard-container .wizard-form-section {
  width: 30%;
  margin-bottom: 2vh;
}
@media (max-width: 1000px) {
  .wizard-container .wizard-form-section {
    width: 100%;
  }
}
.wizard-container .wizard-form-section-step-container {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 1vw;
}
.wizard-container .wizard-form-section-step-container h3 {
  margin-left: 1vh;
  font-size: 1.5em;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  font-size: 1.5em;
  color: #FC6767;
}
.wizard-container .wizard-form-section-step-container .wizard-ac-type-thumb {
  padding: 0.8vw 0 1vw 1vw;
  background-color: #398FB5;
  border-radius: 0.5vw;
  margin: 1vh;
  color: #FAFAFA;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  font-size: 1.5em;
}
@media (max-width: 1000px) {
  .wizard-container .wizard-form-section-step-container .wizard-ac-type-thumb {
    padding: 1vh 0 1.2vh 2vh;
    font-weight: normal;
    font-size: 1.3em;
  }
}
.wizard-container .wizard-form-section-step-container .wizard-next-step-container {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0 1vh 0;
}
.wizard-container .wizard-form-section-step-container .wizard-next-step-container button {
  border: 0;
  padding: 0.5vw 1vw;
  margin: 0 1vh;
  border-radius: 0.2vw;
  font-variant-caps: all-small-caps;
  font-size: 1.1em;
}
@media (max-width: 1000px) {
  .wizard-container .wizard-form-section-step-container .wizard-next-step-container button {
    padding: 1vh 2vh;
  }
}
.wizard-container .wizard-form-section-step-container .wizard-next-step-container button:disabled {
  opacity: 0.5;
}
.wizard-container .wizard-form-section-step-container h6 {
  padding: 0 0.8vw 0 0.6vw;
  text-align: justify;
}

.account-data {
  display: flex;
  flex-direction: column;
}
.account-data input {
  border: 0;
  border-bottom: 1px solid #CCCCCC;
  padding: 1vw 0 0.5vw 0.3vw;
  margin-bottom: 1vh;
}

.home-wrapper {
  background-color: red;
}
.home-wrapper .banner {
  background-color: green;
  display: flex;
  justify-content: space-between;
}
.home-wrapper .banner div {
  width: 50%;
  padding: 5vw;
  box-sizing: border-box;
}
.home-wrapper .banner div h1 {
  font-size: 2.5em;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  margin: 0;
}
.home-wrapper .banner div h3 {
  color: red;
  margin: 0;
}

.add-product-container input {
  border: 0;
  border-bottom: 1px solid #CCC;
}
.add-product-container .ck-editor {
  margin: 2vh 0 !important;
}
.add-product-container select {
  padding: 1vh;
  border: 0;
  border-bottom: 1px solid #CCC;
}
.add-product-container h3 {
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 1.3em;
  color: #398FB5;
}
.add-product-container .add-product-specs-container .specs-add-row {
  display: flex;
  justify-content: space-between;
}
.add-product-container .add-product-specs-container .specs-add-row input {
  width: 48%;
  box-sizing: border-box;
}

.add-product-title {
  font-size: 2em;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  color: #FC6767;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.generic-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1450px) {
  .generic-wrapper {
    padding: 1vh 3vw;
    box-sizing: border-box;
  }
}

.qr-login {
  width: 200px !important;
  height: 200px !important;
}

.disabled {
  opacity: 0.5;
}

/*# sourceMappingURL=App.css.map */
