.nav {
  background-color: #FAFAFA;
  width: 100%;
  margin: 0 auto;
  padding: 2vh 0;
}
@media (max-width: 1450px) {
  .nav {
    padding: 1vh 3vw;
    box-sizing: border-box;
  }
}

.nav-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .nav-inner {
    display: none;
  }
}

.logo {
  background-image: url("https://www.potentialtoteach.be/src/Frontend/Themes/Bootstrap/Core/Layout/Images/Site/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.logo-link {
  width: 10%;
  height: 5vh;
}

.links {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: black;
}

.mobile-nav {
  width: 100%;
  height: 6.5vh;
}
@media (min-width: 850px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 6.5vh;
  padding: 0 3vh;
  box-sizing: border-box;
}

.mobile-logo {
  width: 25%;
  height: 5vh;
  background-size: contain;
}

.menu-logo {
  width: 70%;
  margin-top: 4vh;
  height: 20vh;
}

.mobile-nav-menu-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 0;
  top: 0;
}

.mobile-nav-menu {
  width: 50%;
  height: 100%;
  background-color: #FAFAFA;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.mobile-links {
  width: 100%;
  height: 30%;
  padding-left: 15%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}

.mobile-nav-closer {
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.mobile-nav-bar-button {
  font-size: 1.3em;
}

.form-container {
  width: 20vw;
  padding: 2vw;
  margin: 10vh auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-fields-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fields-container input {
  margin: 1vh 0;
  width: 45%;
  border: 0;
  padding: 0.5vw;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
}

.conversation-thumb-button {
  background-color: transparent;
  width: 100%;
  padding: 1vw;
  border: 0;
  border-bottom: 1px solid #CCC;
}

.conversation-thumb-container {
  text-align: left;
}

.product-list-thumbnail {
  width: 24%;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.product-list-thumbnail-image {
  width: 100%;
  max-height: 40vh;
}

.product-list-thumbnail-content {
  padding: 0 1vw 1vw 1vw;
  box-sizing: border-box;
}

.product-list-thumbnail-price {
  text-align: right;
  margin: 0;
}

.messages-wrapper {
  width: 100%;
  height: 93vh;
  box-sizing: border-box;
  display: flex;
}

.conversations-section {
  border-right: 1px solid #CCC;
  width: 30%;
  height: 100%;
}

.chat-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-title-bar {
  padding: 1vw;
  text-align: center;
}

.chat-messages-container {
  height: 100%;
  padding: 1vw;
  border-bottom: 1px solid #CCC;
}

.chat-send-message-bar {
  display: flex;
  justify-content: space-between;
}

.messages-send-button {
  width: 10%;
  border-radius: 0;
  border: 0;
}

.ck-editor {
  width: 100% !important;
}

.generic-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/*# sourceMappingURL=App.css.map */
