@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.nav {
  background-color: #FAFAFA;
  width: 100%;
  margin: 0 auto;
  padding: 2vh 0;
}
@media (max-width: 1450px) {
  .nav {
    padding: 1vh 3vw;
    box-sizing: border-box;
  }
}

.nav-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .nav-inner {
    display: none;
  }
}

.logo {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/bachelorproef-b2b80.appspot.com/o/Logo.png?alt=media&token=d592f539-1b7b-420c-b494-0d0c7d601120");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  width: 100%;
  height: 110%;
}

.logo-link {
  width: 10%;
  height: 5vh;
}

.links {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: black;
}

.mobile-nav {
  width: 100%;
  height: 6.5vh;
}
@media (min-width: 850px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 6.5vh;
  padding: 0 3vh;
  box-sizing: border-box;
}

.mobile-logo {
  width: 25%;
  height: 5vh;
  background-size: contain;
}

.menu-logo {
  width: 70%;
  margin-top: 4vh;
  height: 20vh;
}

.mobile-nav-menu-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 0;
  top: 0;
}

.mobile-nav-menu {
  width: 50%;
  height: 100%;
  background-color: #FAFAFA;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.mobile-links {
  width: 100%;
  height: 30%;
  padding-left: 15%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}

.mobile-nav-closer {
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.mobile-nav-bar-button {
  font-size: 1.3em;
  padding-bottom: 1vh;
}

.form-container {
  width: 20vw;
  padding: 2vw;
  margin: 10vh auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-fields-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .form-fields-container {
    flex-direction: column;
  }
}

.form-fields-container input {
  margin: 1vh 0;
  width: 45%;
  border: 0;
  padding: 0.5vw;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
}
@media (max-width: 800px) {
  .form-fields-container input {
    width: 100%;
    margin: 5vh 0;
  }
}

.conversation-thumb-button {
  background-color: transparent;
  width: 100%;
  padding: 1vw;
  border: 0;
  border-bottom: 1px solid #CCC;
}

.conversation-thumb-container {
  text-align: left;
}

.product-list-thumbnail-link {
  width: 24%;
  color: #212121;
  text-decoration: none;
  margin-bottom: 4vh;
}
@media (max-width: 1450px) {
  .product-list-thumbnail-link {
    width: 32%;
  }
}

.product-list-thumbnail {
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw 1vw;
}

.product-list-thumbnail-image {
  width: 100%;
  max-height: 40vh;
}

.product-list-thumbnail-content {
  line-height: 140%;
  height: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.product-list-thumbnail-price {
  text-align: right;
  margin: 0;
  color: #398FB5;
}

.product-list-thumbnail-title {
  color: #FC6767;
  font-weight: 500;
  font-size: 1.6em;
  font-variant-caps: all-small-caps;
}

.product-list-actual {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vw 0;
}

.product-detail-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-detail-main-container {
  width: 75%;
  padding: 2vw 0;
  box-sizing: border-box;
}

.product-detail-sidebar {
  margin-top: 5vh;
  width: 23%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.product-detail-sidebar h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5vh;
}

.product-detail-sidebar ul {
  padding: 0;
}

.product-detail-sidebar ul li {
  list-style: none;
}

.product-detail-main-container h2 {
  font-size: 1.8em;
  color: #FC6767;
  margin-bottom: 0;
}

.product-detail-main-container h4 {
  margin-top: 0;
  font-variant-caps: all-small-caps;
  font-size: 1.2em;
  font-weight: bold;
  color: #398FB5;
}

.product-detail-main-container img {
  width: 100%;
}

figure.table {
  margin: 0;
}

figure table tbody tr td {
  background-color: #AAAAAA;
  padding: 0.5vw 3vw;
}

.messages-wrapper {
  width: 100%;
  height: 93vh;
  box-sizing: border-box;
  display: flex;
}

.conversations-section {
  border-right: 1px solid #CCC;
  width: 30%;
  height: 100%;
}

.chat-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-title-bar {
  padding: 1vw;
  text-align: center;
}

.chat-messages-container {
  height: 100%;
  padding: 1vw;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
}

.chat-send-message-bar {
  display: flex;
  justify-content: space-between;
}
.chat-send-message-bar textarea {
  width: 100%;
  border: 0;
  padding: 2vw 1vw;
}

.messages-send-button {
  width: 10%;
  border-radius: 0;
  border: 0;
}

.ck-editor {
  width: 100% !important;
}

.active-chat-message {
  padding: 1vw;
  display: flex;
}
.active-chat-message p {
  padding: 1vw 2vw;
}

.acm-me {
  justify-content: flex-end;
}

.acm-other {
  justify-content: flex-start;
}

.acm-me p {
  background-color: #FC6767;
  border-radius: 1vh;
  color: #FAFAFA;
}

.acm-other p {
  background-color: #EEE;
  padding: 0 1vw;
}

.auth-wrapper {
  width: 100% !important;
  max-width: 600px !important;
  margin-top: 5vh !important;
  padding: 3vw;
  box-sizing: border-box;
}

.auth-dfdc {
  display: flex;
  flex-direction: column;
}

.auth-dfdc input, .auth-dfdc button {
  padding: 1vw;
  margin: 1vh 0;
}

.auth-dfdc h2 {
  color: #FC6767;
  font-size: 3em;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-variant-caps: all-small-caps;
}

.auth-dfdc button {
  border: none;
  background-color: #398FB5;
  color: #FAFAFA;
}

.login-qr-text-container {
  display: flex;
  margin-top: 10vh;
}
@media (max-width: 400px) {
  .login-qr-text-container {
    flex-direction: column;
  }
}

.login-qr-text {
  padding: 1vw;
  box-sizing: border-box;
}

.user-role-select {
  width: 45%;
  height: 6vh;
  align-self: flex-end;
  margin-bottom: 1vh;
  border: 0;
  border-bottom: 1px solid #CCC;
}
@media (max-width: 800px) {
  .user-role-select {
    width: 100%;
  }
}

.cart-product-list {
  width: 100%;
  padding: 2vw 0;
}

.cart-product-thumbnail {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.cart-product-thumbnail .product-image-container {
  width: 10%;
}
.cart-product-thumbnail .product-image-container img {
  height: 10vh;
}
.cart-product-thumbnail .product-image-container .product-value {
  vertical-align: center;
}

.cart-total-row {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #AAA;
}
.cart-total-row .cart-total-price {
  font-weight: bold;
  padding: 2vh 0;
}

.cart-wrapper .address-details {
  display: flex;
  flex-direction: column;
}
.cart-wrapper .address-details .address-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}
.cart-wrapper .address-details .address-fields input {
  padding: 0.5vw 1vw;
  margin: 1vh 1vw 1vh 0;
  border: 0;
  border-bottom: 1px solid #AAAAAA;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.generic-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1450px) {
  .generic-wrapper {
    padding: 1vh 3vw;
    box-sizing: border-box;
  }
}

.qr-login {
  width: 200px !important;
  height: 200px !important;
}

/*# sourceMappingURL=App.css.map */
